<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
  <ion-card-header>
    <ion-card-title>myAPP</ion-card-title>
  </ion-card-header>

  <ion-card>
  <ion-card-content>
    <h2>Your Housing Application</h2>
    <p>Choose an account type</p>
    <ion-radio-group value="account_type">
      <ion-item>
        <ion-label>Landlord</ion-label>
        <ion-radio slot="start" value="Landlord"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Tenant</ion-label>
        <ion-radio slot="start" value="Tenant"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card-content>
</ion-card>


 <ion-card>
  <ion-card-header>
    <ion-card-title>Create account</ion-card-title>
  </ion-card-header>
 <ion-card-content>
  <ion-item>
    <ion-input label="Name" input type=text label-placement="floating" placeholder="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="housenumber" input type=text label-placement="floating" placeholder="houseid"></ion-input>
  </ion-item>
    <ion-item>
    <ion-input label="Email" input type=Email label-placement="floating" placeholder="Enter email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Password" input type=Password label-placement="floating" placeholder="Enter password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Confirm Password" input type=Password label-placement="floating" placeholder="Confirm password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary">Register</ion-button>
 </ion-card-content>
</ion-card>
